<div class="form-container">
    <form class="form" [formGroup]="form">
        <h1 class="form__title">Sxodka</h1>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.email' | translate}}</mat-label>
            <input matInput
                formControlName="email"
                [placeholder]="'form.email-placeholder' | translate"
                autocomplete="off">
            <mat-error *ngIf="emailFormControl.hasError('required')">{{'form.email-required' | translate}}</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">{{'form.email-invalid' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.password' | translate | titlecase}}</mat-label>
            <input matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="off">
            <button mat-icon-button
                matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('required')">{{'form.password-required' | translate}}</mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">{{'form.password-minlength' | translate}}</mat-error>
        </mat-form-field>

        <button mat-button
            mat-raised-button 
            color="primary"
            cdkFocusInitial
            (click)="submitForm()">{{'form.signin' | translate | titlecase}}</button>
        <p class="form__link" (click)="navigateToSignup()">{{'form.signup-reference' | translate}}</p>
    </form>
</div>