<div class="form-container">
    <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
        <h1 class="form__title">Sxodka</h1>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
                formControlName="email"
                placeholder="example@mail.com"
                autocomplete="off">
            <mat-error *ngIf="emailFormControl.hasError('required')">Email required</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">Email invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="off">
            <button mat-icon-button
                matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('required')">Password required</mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">Password to short</mat-error>
        </mat-form-field>

        <button type="submit" 
            mat-button
            mat-raised-button 
            color="primary"
            cdkFocusInitial>Signin</button>
        <p class="form__link" (click)="navigateToSignup()">Don't have an account?</p>
    </form>
</div>