<div class="form-container">
    <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
        <h1 class="form__title">Sxodka</h1>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.name' | translate | titlecase}}</mat-label>
            <input matInput
                formControlName="name"
                autocomplete="off" 
                [placeholder]="'form.name-placeholder' | translate">
            <mat-error *ngIf="nameFormControl.hasError('required')">{{'form.name-required' | translate | titlecase}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.lastname' | translate | titlecase}}</mat-label>
            <input matInput
                formControlName="lastname"
                autocomplete="off"
                [placeholder]="'form.lastname-placeholder' | translate">
            <mat-error *ngIf="lastnameFormControl.hasError('required')">{{'form.lastname-required' | translate | titlecase}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.email' | translate}}</mat-label>
            <input matInput
                formControlName="email"
                autocomplete="off"
                [placeholder]="'form.email-placeholder' | translate">
            <mat-error *ngIf="emailFormControl.hasError('required')">{{'form.email-required' | translate}}</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">{{'form.email-invalid' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.password' | translate | titlecase}}</mat-label>
            <input matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                autocomplete="off">
            <button mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('required')">{{'form.password-required' | translate}}</mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">{{'form.password-minlength' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'form.password-confirmation' | translate}}</mat-label>
            <input matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="passwordConfirmation"
                autocomplete="off">
            <button mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordConfirmationFormControl.hasError('required')">{{'form.password-confirmation-required' | translate}}</mat-error>
            <mat-error *ngIf="passwordConfirmationFormControl.hasError('doNotEqual')">{{'form.password-confirmation-invalid' | translate}}</mat-error>
        </mat-form-field>

        <button mat-button
            mat-raised-button
            color="primary"
            cdkFocusInitial>{{'form.signup' | translate | titlecase}}</button>
        <p class="form__link" (click)="navigateToSignin()">{{'form.signin-reference' | translate}}</p>
    </form>
</div>